*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    color: white;
    transition: 0.3s;}
    
    i{margin-inline: 2px;}
    
    body{background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    display: flex;}
    
    body::-webkit-scrollbar{width: 8px;
        background-color: rgb(20, 20, 20);}
    
        body::-webkit-scrollbar-thumb{
            border-radius:  50px;
            background-color: rgb(128, 128, 128);}
    
    /* ----------- header ----------- *//* ----------- header ----------- *//* ----------- header ----------- *//* ----------- header ----------- */
    /* ----------- header ----------- *//* ----------- header ----------- *//* ----------- header ----------- *//* ----------- header ----------- */
    
/* تحسين التصميم الأساسي */
header {
    background-color: rgba(20, 20, 20, 0.185);
    border: 1px white solid;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 2vh;
    padding: 12px 12px;
    border-radius: 1446px;
    justify-content: center; /* توسيط العناصر أفقيًا */

}

.logged_in_youser {
    display: none;
    font-size: 20px;
    align-items: center;
    margin-inline: 3px;
}

.logged_in_youser img {
    width: 50px;
    height: 50px;
    margin-inline: 10px;
    border-radius: 50%;
    border: none;
    background-color: rgb(104, 104, 104);
    object-fit: cover;
}

.profile_btn,
.log_out_btn {
    display: flex;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
    border-radius: 50%;
    border: 2px white solid;
    margin-inline: 3px;
}

.rejisting,
.adding {
    background-color: rgba(0, 0, 128, 0);
    border: 2px white solid;
    border-radius: 50px; /* تقليل الانحناء لجعل الزر أكثر تناسبًا */
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center; /* توسيط النص داخل الأزرار */
}

/* تصميم المنشورات */
.posts_container {
    display: flex;
    flex-direction: column; /* جعل المنشورات أسفل بعضها */
    align-items: center; /* توسيط جميع العناصر أفقيًا */
    background-color: transparent;
    margin-top: 120px;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.post_container {
    background-color: rgba(255, 255, 255, 0.068);
    border: 1px white solid;
    border-radius: 12px;
    margin-block: 30px;
    width: 90%;
    max-width: 800px;
    padding: 10px;
}

.post_header {
    display: flex;
    text-align: left;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    border-radius: 12px 12px 0 0;
}

.post_header img {
    width: 50px;
    height: 50px;
    margin-inline: 10px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104);
    object-fit: cover;
}

.post_container h2 {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    text-align: left; /* توسيط النصوص */
}

.post_img {
    width: 100%;
    background-color: rgb(104, 104, 104);
    object-fit: cover;
    margin-block: 10px;
}

.post_header_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
   gap: 10px;
}

.post_header_btns button {
    background-color: transparent;
    padding: 7px 10px;
    color: white;
    border: 2px white solid;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.comments_btn{
    background-color: transparent;
    padding: 7px 10px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}

/* اس.post_header_btns*/
@media (max-width: 768px) {
    body {
     overflow-x: hidden;
    }
    header {
        flex-wrap: wrap;
        border-radius: 0px;
        border: none;
        border-bottom: 1px white solid;
        width: 100%;
        top: 0;
        justify-content: space-around;
padding: 10px 0px;
    }





    .posts_container {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding: 5px;
    }

    .post_container {
        width: 95%;
    }

    .post_header img {
        width: 40px;
        height: 40px;
    }



    .post_header_btns button {
        font-size: 14px;
        padding: 5px;
    }


    .post_header_btns h5 {
     display: none;
    }

    .post_container h2 {
        font-size: 16px;
    }

    .post_img {
        margin-block: 5px;
    }

    .comment_header img {
        width: 40px;
        height: 40px;
    }

    .comments h3 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {





    .posts_container {
        font-size: 14px;
    }



    .post_container h2 {
        font-size: 14px;
        width: 100%;
    }

    .post_img {
        margin-block: 3px;
        width: 100%;
    }
}


    /* ----------- add post ----------- *//* ----------- add post ----------- *//* ----------- add post ----------- *//* ----------- add post ----------- */
    /* ----------- add post ----------- *//* ----------- add post ----------- *//* ----------- add post ----------- *//* ----------- add post ----------- */
    
    
  /* التصميم العام */
.adding_container {
    width: 100%;
    top: 0%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.adding_container_params {
    padding: 30px 30px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    max-width: 400px;
    width: 100%;
}

.adding_container_params textarea {
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 7px;
    height: 200px;
    border-radius: 10px;
    border: 3px rgba(255, 255, 255, 0.678) solid;
    resize: none;
}

.adding_container_params textarea:focus {
    outline: none;
    border: 3px rgb(255, 255, 255) solid;
}

/* الحاوية الخاصة برفع الصورة */
.image-upload-container {
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 3px rgba(255, 255, 255, 0.678) solid;
    position: relative;
}

.image-upload-container i {
    color: #888;
    font-size: 30px;
    position: absolute;
}

.image-upload-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/* الأزرار */
.adding_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cancel {
    background-color: transparent;
    font-size: 18px;
    border-radius: 50px;
    padding: 7px 12px;
    cursor: pointer;
    border: 2px white solid;
}

.add {
    background-color: white;
    color: black;
    font-size: 18px;
    border-radius: 50px;
    padding: 7px 12px;
    cursor: pointer;
    border: 2px white solid;
}

/* الأزرار أثناء التعديل */
.editing_btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Media Query للشاشات الصغيرة */
@media (max-width: 600px) {
    .adding_container {
width: 100%;
padding-block: 40px;
overflow: scroll;
margin: 0;
     }
    .adding_container_params {
        overflow: auto;
        max-width: 90%;
        padding: 30px 5px;
        padding-block: 20px;
        margin-top: 100px;
    }

    .adding_container_params textarea {
        font-size: 16px;
        height: 180px;
    }

    .image-upload-container {
       height: 180px;
    }

    .image-upload-container i {
        font-size: 25px;
    }

    .adding_btns, 
    .editing_btns {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .cancel,
    .add {
        font-size: 16px;
        padding: 10px;
    }
}

    
    
    /* ----------- signing_window ----------- *//* ----------- signing_window ----------- *//* ----------- signing_window ----------- *//* ----------- signing_window ----------- */
    /* ----------- signing_window ----------- *//* ----------- signing_window ----------- *//* ----------- signing_window ----------- *//* ----------- signing_window ----------- */
    
    
    
    
    
    .signing_page {
        display: flex;
        height: 100vh;
        background-attachment: fixed;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background-image: url(ios-13-grey-dark-background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .signing_container {
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.24);
        border: 1px white solid;
        backdrop-filter: blur(10px);
        max-width: 500px;
        width: 100%;
    }
    
    .signing_container h1 {
        margin-block: 20px;
        text-align: center;
        font-size: 24px;
    }
    
    .signing_container_input {
        padding: 5px 10px;
        margin-block: 10px;
        font-size: 18px;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.24);
        border: 1px white solid;
        backdrop-filter: blur(10px);
    }
    
    .signing_container_input:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.11);
    }
    
    .signing_container h4 {
        margin-block: 20px;
        text-align: center;
    }
    
    .signing_container h4 span {
        cursor: pointer;
        color: rgb(173, 173, 173);
    }
    
    .signing_container_btns {
        margin-block: 20px;
        justify-content: space-between;
        display: flex;
        gap: 10px;
    }
    
    .back_to_home,
    .enter {
        background-color: rgb(31, 31, 31);
        color: rgb(255, 255, 255);
        font-size: 17px;
        border-radius: 50px;
        padding: 7px 12px;
        cursor: pointer;
        text-align: center;
        flex: 1;
    }
    
    /* عناصر الصورة */
    .image-uploader {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.24);
        border: 1px white solid;
        backdrop-filter: blur(10px);
        margin: 0 auto 20px auto; /* توسيط العنصر */
    }
    
    .image-uploader:hover {
        background-color: rgba(53, 53, 53, 0.24);
    }
    
    .file-input {
        display: none; 
    }
    
    .image-label {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    #previewImage_new {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }



    @media (max-width: 600px) {
        .signing_page{ overflow: auto;}

        .signing_container {
            height: 500px;
            overflow: auto;
            max-width: 90%;
        }
    
        .signing_container h1 {
            font-size: 20px;
        }
    
        .signing_container_input {
            font-size: 16px;
        }
    
        .signing_container_btns {
            flex-direction: column;
            gap: 10px;
        }
    
        .back_to_home,
        .enter {
            font-size: 15px;
            padding: 10px;
        }
    
        .image-uploader {
            width: 120px;
            height: 120px;
        }
    
        #previewImage_new {
            width: 100%;
            height: 100%;
        }
    }
    
    
    /* ----------- post_rev ----------- *//* ----------- post_rev ----------- *//* ----------- post_rev ----------- */
    /* ----------- post_rev ----------- *//* ----------- post_rev ----------- *//* ----------- post_rev ----------- */
    

    .comment_section::-webkit-scrollbar{width: 6px;
        background-color: rgb(20, 20, 20);}

        .comment_section::-webkit-scrollbar-thumb{
            border-radius:  50px;
            background-color: rgb(71, 71, 71);}



            .back-btn{background-color: rgb(31, 31, 31);
                position: fixed;
                border: 1px white solid;
                top: 20px;
                left: 20px;
                z-index: 9999;
            color: rgb(255, 255, 255);
            font-size: 24px;
        border-radius: 45453px;
        padding: 10px 14px;
        cursor: pointer;}



.post_rev_body {
    background-color: rgb(32, 32, 32);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_rev_cont {
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.background_img {
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: blur(15px) brightness(90%);
    z-index: -1;
    position: fixed;
}

.post_rev_header {
    align-items: center;
    padding: 10px 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.342);
    margin-block: 10px;
border-radius: 10px;}

.post_rev_header_img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104);
    background-size: cover;
    object-fit: cover;
}

.post_rev_body_img {
    max-width: 700px;
    max-height: 600px;
    margin-inline: 10px;
    border-radius: 10px;
    background-color: rgb(104, 104, 104);
    background-size: cover;
    object-fit: cover;
}

.post_rev {
    border-radius: 10px;
    padding: 10px 10px;
}

.comment_section {
    background-color: rgba(0, 0, 0, 0.342);
    padding: 10px 10px;
    gap: 20px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.comment_section img {
    width: 50px;
    margin-inline: 10px;
    margin-top: 20px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104);
    background-size: cover;
    object-fit: cover;
}

.add_comment {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.add_comment span {
    background-color: rgb(99, 99, 99);
    padding: 7px 10px;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 20px;
}

.add_comment input {
    background-color: rgb(32, 32, 32);
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 20px;
}

.add_comment input::placeholder {
    color: white;
}

.add_comment input:focus {
    outline: none;
    background-color: rgb(39, 39, 39);
}

@media (max-width: 600px) {

    .background_img {
display: none;
    }



    .post_rev_body {
        width: 100%;
        height: fit-content;
    }


    .post_rev {
        border-radius: 10px;
        padding: 10px 10px;
        min-height:100vh;
        margin-block: 10px;
    }



    .post_rev_cont {
flex-direction: column;
height: fit-content;
    }

    .post_rev_header {
margin-top: 100px;
font-size: 10px;
    }

    .post_rev_body_img {
        max-width: 90%;
        margin-block: 10px;
        max-height: 600px;
    }

    .comment_section {
margin-block: 10px;
max-height: 400px;
    }

    .add_comment {
        flex-direction: column;
            }
        
            .add_comment span {
                padding: 7px 40px;
        margin-block: 10px;
            }
        
    .back-btn {
font-size: 14px;
    }
}

    
    
        /* ----------- profile ----------- */    /* ----------- profile ----------- */    /* ----------- profile ----------- */    /* ----------- profile ----------- */
            /* ----------- profile ----------- */    /* ----------- profile ----------- */    /* ----------- profile ----------- */    /* ----------- profile ----------- */
    
    
    

   

.profile_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.profile_body h3 {
    margin-inline: 10px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.profile_cantainer {
    width: 400px;
    height: 30vh;
    display: flex;
    border: none;
    z-index: 99;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    background-color: rgb(66, 66, 66);
    padding-inline: 10px;
}



.profile_cantainer img {
    width: 100px;
    height: 100px;
    margin-inline: 10px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104);
    object-fit: cover;
}

.profile_cantainer_header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


.comments_posts {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
}


.posts_container2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


.post_container2 {
    background-color: rgba(54, 54, 54, 0.822);
    border: 1px white solid;
    border-radius: 12px;
    margin-block: 30px;
    width: 800px;
    padding: 10px;
    max-width: 100%;
}




@media (max-width: 755px) {


    



    .posts_container2 {
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        padding-top: 80px;
        width: 100%; 
    }

    .post_container2 {
        width: 100%;
        padding: 8px;
    }
}




@media (max-width: 480px) {



    .post_container2 {
        width: 100%;
        padding-block: 1px;
    }
}
